.balance {
  margin-top: -7rem;
}
.card {
  /*--box-shadow: ;*/
  background-color: var(--bg-card);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  margin-bottom: 1.875rem;
  padding: 1.40625rem 1.875rem;
  transition: background-color 600ms ease-in-out;
}
.card.total{
    background: var(--green-200);
    box-shadow: var(--box-shadow-total);
}
.card.total p, .card.total span {
  color: var(--white)
}
.card h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card p {
  font-size: 1.75rem;
  font-weight: 400;
  margin-top: 0.9375rem;
}
@media (min-width: 800px) {
  .balance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
  }
}
