footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.kambadev,
address {
  padding: 1.5rem;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
}
.contact a {
  border: 1px solid var(--white);
  border-radius: 50%;
  display: inline-block;
  padding: 1rem;
  color: var(--white);

}
.contact a i {
  color: inherit;
  font-size: 1.8rem;
  font-weight: bold;
}
.github a {
  background-color: var(--github);
  
}
.linkedin a {
  background-color: var(--linkedin);
 
}
.phone a {
  background-color: var(--phone);
}
.whtasapp a {
  background-color: var(--whatsapp);
  
}

@media (min-width: 800px) {
  .contact a{
    background-color: transparent;
  }
  .contact a:hover {
    color:var(--white);
     border: solid 1px var(--white);
  }
  .github a{
  border-color: var(--github);
  color: var(--github);
}
.github a:hover{
  background-color: var(--github);
}
.linkedin a{
  border-color: var(--linkedin);
  color: var(--linkedin);
}
.linkedin a:hover{
   background-color: var(--linkedin);
}
.phone a{
  border-color: var(--phone);
  color: var(--phone);
}
.phone a:hover{
   background-color: var(--phone);
}
.whtasapp a{
  border-color: var(--whatsapp);
  color: var(--whatsapp);
}
.whtasapp a:hover{
   background-color: var(--whatsapp);
}
.contact{
  gap:2.5rem;
}
.contact a, .contact a:hover{
 transition: all 600ms linear;
}
}