* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
:root {
  --white: #fff;
  --gray-100: #e1e1e6;
  --gray-200:#f0f2f5;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-900: #121214;
  --gray-700: #29292e;
  --gray-800: #202024;
  --blue-700: #363f5f;
  --green-200: #3dd705;
  --green-400: #49aa26;
  --green-700: #2d4a22;
  
  --bg-header: var(--green-700);
  --bg-body: var(--gray-200);
  --text-color: var(--blue-700);
  --card-bg: var(--white);
  --card-bg-total: var(--green-400);
  --bg-table-content: var(--white);
}
html {
  font-size: 93.75%;
}
body {
  background-color: var(--bg-body);
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  transition: background 0.2s linear;
}
a{
  text-decoration: none;
}
.container {
  margin: 0 auto;
  width: min(90vw, 850px);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1;
  overflow: hidden;
  clip: rect(0, 0, 0);
}
@media (min-width:800px){
  html{
    font-size: 87.5%;
  }
}