* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: var(--text-color);
}
:root {
  --bg-url-back: url(./../img/moon-stars.svg);
  --bg-url-front: url(./../img/sun.svg);
  --blue-700: #363f5f;
  --gray-100: #f7f7f7;
  --gray-200: #e1e1e6;
  --gray-600: #323238;
  --gray-800: #202024;
  --gray-900: #121214;
  --green-200: #3dd705;
  --green-300: #49aa26;
  --green-500: #005a34;
  --green-700: #2d4a22;
  --whatsapp: #34af23;
  --linkedin: #0e76a8;
  --github: #171515;
  --phone: #3dd705;
  --red-500: #e92929;
  --white: #ffffff;
  --white-2: #faf8ff;

  --bg-button: black;
  --bg-body: var(--gray-100);
  --bg-card: var(--white);
  --bg-header: var(--green-500);
  --box-shadow: 0px 1.9px 3px rgba(252, 204, 204, 0.699),
    0 1.5px 2px rgba(253, 206, 206, 0.699);
  --box-shadow-total: 0px 1.9px 3px rgba(252, 204, 204, 0.699),
    0 1.5px 2px rgba(253, 206, 206, 0.699);
  --text-color: var(--blue-700);
}

.dark {
  --bg-button: white;
  --bg-body: var(--gray-600);
  --bg-card: var(--gray-900);
  --bg-header: var(--gray-800);
  --box-shadow: 0px 1.9px 3px rgba(42, 250, 0, 0.699),
    0 1.5px 2px rgba(0, 0, 0, 0.644);
  --box-shadow-total: 0px 1.9px 3px rgb(243, 242, 242),
    0 1.5px 2px rgb(54, 54, 54);
  --text-color: var(--gray-200);
}

html {
  font-size: 87.5%;
}
body {
  background: var(--bg-body);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  transition: background-color 600ms ease-in-out;
}
button {
  background: transparent;
  border: none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
fieldset{
  border:none;
}
.container {
  width: min(90vw, 53rem);
  margin: auto;
}
.sr-only {
  position: absolute;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
@media (min-width: 800px) {
  html {
    font-size: 100%;
  }
}
