#header{
    background-color: var(--bg-header);
    padding: 2rem 0 10rem;
    text-align: center;
    transition: background 0.2s linear;
}
#title{
    display: flex;
     align-items: center;
     justify-content: center; 
     flex-direction: column;
}
header #logo{
  color:#fff;
  font-weight: 100;
}