.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-header);
    transition: background-color 600ms ease-in-out;
}
.header .title{
    padding: 1.875rem 0px 9.375rem;
    font-size: 0px;
}
