.modal {
  border: none;
  margin: auto auto;
  padding: auto;
  background-color: rgba(0, 0, 0, 0.295);
}
.modal-container {
  background: var(--bg-body);
  padding: 2rem;
}
.modal-container h2 {
  font-size: 22.5px;
  margin-bottom: 12px;
  color: var(--text-color);
}
.input-group {
  margin-top: 12px;
}
.input-group input {
  display: block;
  background: var(--bg-card);
  outline: 0;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 4px;
  font-weight: bold
}
.input-group em {
  display: block;
  margin: 1rem;
  font-size: 0.75rem;
}

.input-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.input-buttons .cancel,
.input-buttons button {
  width: 48%;
  height: 52px;
  color: white;
  border: solid 1px var(--bg-button);
}
.input-buttons button {
  background: var(--green-200);
}
.input-buttons .cancel {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--red-500);
}
@media (min-width: 800px) {
  .input-buttons button,
  .input-buttons .cancel {
    background: transparent;
    border: 1px solid white;
    transition: all 600ms ease-in-out;
  }
  .input-buttons button {
    background: transparent;
    border: 1px solid var(--green-200);
    color: var(--green-200);
  }
  .input-buttons button:hover {
    background: var(--green-200);
    border: 1px solid var(--bg-button);
    color: white;
  }
  .input-buttons .cancel {
    background: transparent;
    border: 1px solid var(--red-500);
    color: var(--red-500);
  }
  .input-buttons .cancel:hover {
    background: var(--red-500);
    border: 1px solid var(--bg-button);
    color: white;
  }
  .input-buttons button:hover,
  .input-buttons .cancel:hover {
    transition: all 600ms ease-in-out;
  }
}
