#switch-container {
  background: transparent;
  position: absolute;
  top: 10px;
  right: 2px;
  cursor: pointer;
}

.box {
  background: transparent;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 600ms ease-in-out;
}
.box:hover{
  outline: 5px solid rgba(255, 255, 255, 0.5);
}
.circle {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.circle.back,
.circle.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.circle.front {
  background: white var(--bg-url-front) no-repeat center;
}
.circle.back {
  background: black var(--bg-url-back) no-repeat center;
  transform: rotateY(180deg);
}
.dark .box {
  transform: rotateY(180deg);
  transition: transform 600ms ease-in-out;
}
@media (min-width: 800px) {
  #switch-container {
    top: 20px;
    right: 10px;
  }
}
