.transactions button {
  color: var(--green-300);
  font-weight: 700;
  transition: color 0.5s linear;
  margin-bottom: 0.7rem;
}
.transactions button:hover {
  color: var(--green-200);
  transition: color 0.5s linear;
}
.transactions-table-container {
  overflow-x: auto;
}
.transactions-table {
  width: 100%;
  border-spacing: 0 0.46875rem;
}
.transactions-table tr {
  background-color: var(--bg-card);
  box-shadow: var(--box-shadow);
  transition: background-color 0.5s linear;
}
.transactions-table thead th{
  height: 50px;
}
.transactions-table thead th,
.transactions-table tbody td {
  text-align: center;
  padding: 0.5rem 1.2rem;
}
.transactions-table tbody tr {
  opacity: 0.5;
  transition: all .6s linear;
   font-weight: 700;
}
.transactions-table tbody tr:hover {
  opacity: 1;
  transition: all .6s linear;
}
.transactions button,
.transactions-table tbody tr img {
  cursor: pointer;
}
.expense {
  color: var(--red-500);
}
.income {
  color: var(--green-200);
}
